In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("data\Advertising.csv")

In [5]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [6]:
X = df.drop("sales", axis=1)

In [7]:
y = df["sales"]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)

In [11]:
print(len(X_train))
print(len(Y_train))

160

NameError: name 'Y_train' is not defined